FGV EPGE - Escola de Pós-graduação em Economia
==
Introdução à Ciência dos Dados em Economia com o Python
--
Professor: Rafael Martins de Souza
--
Monitor: Pedro Medeiros Teixeira

### Range

Range representa uma sequência imutável de números e é usado para fazer um número específico de loop nos loops.

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

O resultado gerado é uma lista que vai de 0 até o número dado como argumento: 1.

In [40]:
list(range(10,13))

[10, 11, 12]

In [41]:
list(range(-10,12))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [42]:
list(range(10,28,5))

[10, 15, 20, 25]

Nesse caso temos o intervalo definido. Dessa forma, o resultado gerado é uma lista que vai do primeiro número dado até o segundo - 1.

In [43]:
sequencia = range(10,40,2)

Já nesse caso temos a estrutura composta por range(início do intervalo, fim do intervalo + 1, diferença entre um elemento e o próximo na sequência). Dessa forma temos que os elementos, no exemplo, são listados, de três em três, de 5 até 50.

In [44]:
range(9**12)

range(0, 282429536481)

In [45]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

## Condicionais e Loops

### Loops:

 #### O comando "for":

Executa uma seqüência de instruções várias vezes, até que o intervalo dado termine.

In [46]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [47]:
for letra in 'Data Science':
    print(letra)

D
a
t
a

S
c
i
e
n
c
e

In [48]:
for letra in ['Data Science']:
    print(letra)

Data Science

Printar $x, x^2, x^3$

In [49]:
for elemento in [1,4,8,9,10, 11, 12]:
    print(elemento, elemento**2, elemento**3)

1 1 1
4 16 64
8 64 512
9 81 729
10 100 1000
11 121 1331
12 144 1728

Números divisíveis por 7

In [6]:
for objeto_iterado in range(1,100):
    if objeto_iterado%7 == 0:
        print(objeto_iterado)
    else:
        print('O número {} não é divisível por 7'.format(objeto_iterado))

O número 1 não é divisível por 7
O número 2 não é divisível por 7
O número 3 não é divisível por 7
O número 4 não é divisível por 7
O número 5 não é divisível por 7
O número 6 não é divisível por 7
7
O número 8 não é divisível por 7
O número 9 não é divisível por 7
O número 10 não é divisível por 7
O número 11 não é divisível por 7
O número 12 não é divisível por 7
O número 13 não é divisível por 7
14
O número 15 não é divisível por 7
O número 16 não é divisível por 7
O número 17 não é divisível por 7
O número 18 não é divisível por 7
O número 19 não é divisível por 7
O número 20 não é divisível por 7
21
O número 22 não é divisível por 7
O número 23 não é divisível por 7
O número 24 não é divisível por 7
O número 25 não é divisível por 7
O número 26 não é divisível por 7
O número 27 não é divisível por 7
28
O número 29 não é divisível por 7
O número 30 não é divisível por 7
O número 31 não é divisível por 7
O número 32 não é divisível por 7
O número 33 não é divisível por 7
O número 34 não é divisível por 7
35
O número 36 não é divisível por 7
O número 37 não é divisível por 7
O número 38 não é divisível por 7
O número 39 não é divisível por 7
O número 40 não é divisível por 7
O número 41 não é divisível por 7
42
O número 43 não é divisível por 7
O número 44 não é divisível por 7
O número 45 não é divisível por 7
O número 46 não é divisível por 7
O número 47 não é divisível por 7
O número 48 não é divisível por 7
49
O número 50 não é divisível por 7
O número 51 não é divisível por 7
O número 52 não é divisível por 7
O número 53 não é divisível por 7
O número 54 não é divisível por 7
O número 55 não é divisível por 7
56
O número 57 não é divisível por 7
O número 58 não é divisível por 7
O número 59 não é divisível por 7
O número 60 não é divisível por 7
O número 61 não é divisível por 7
O número 62 não é divisível por 7
63
O número 64 não é divisível por 7
O número 65 não é divisível por 7
O número 66 não é divisível por 7
O número 67 não é divisível por 7
O número 68 não é divisível por 7
O número 69 não é divisível por 7
70
O número 71 não é divisível por 7
O número 72 não é divisível por 7
O número 73 não é divisível por 7
O número 74 não é divisível por 7
O número 75 não é divisível por 7
O número 76 não é divisível por 7
77
O número 78 não é divisível por 7
O número 79 não é divisível por 7
O número 80 não é divisível por 7
O número 81 não é divisível por 7
O número 82 não é divisível por 7
O número 83 não é divisível por 7
84
O número 85 não é divisível por 7
O número 86 não é divisível por 7
O número 87 não é divisível por 7
O número 88 não é divisível por 7
O número 89 não é divisível por 7
O número 90 não é divisível por 7
91
O número 92 não é divisível por 7
O número 93 não é divisível por 7
O número 94 não é divisível por 7
O número 95 não é divisível por 7
O número 96 não é divisível por 7
O número 97 não é divisível por 7
98
O número 99 não é divisível por 7

In [51]:
a = 5
b = 10
if a>b:
    print('a maior que b')
elif a==5: 
    print('a igual a b')
else:
    print('b maior que a')

a igual a b

In [52]:
for i in range(1,100):
    if i%7 == 0:
        print('{} dividido por 7 é igual a {}'.format(i, int(i/7)))

7 dividido por 7 é igual a 1
14 dividido por 7 é igual a 2
21 dividido por 7 é igual a 3
28 dividido por 7 é igual a 4
35 dividido por 7 é igual a 5
42 dividido por 7 é igual a 6
49 dividido por 7 é igual a 7
56 dividido por 7 é igual a 8
63 dividido por 7 é igual a 9
70 dividido por 7 é igual a 10
77 dividido por 7 é igual a 11
84 dividido por 7 é igual a 12
91 dividido por 7 é igual a 13
98 dividido por 7 é igual a 14

for + if

In [53]:
a = 'string'

In [54]:
for i in ['a', '1', 'b','c','d','e', '2','400','python']:
    if i.isnumeric():
        print(i, 'é um número')
    else:
        print(i, 'é uma letra')

a é uma letra
1 é um número
b é uma letra
c é uma letra
d é uma letra
e é uma letra
2 é um número
400 é um número
python é uma letra

and

In [55]:
for i in range(1,100):
    if i>20 and i%2==0:
        print(i)

22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

or

In [56]:
for i in range(1,100):
    if i%13==0 and i%7==0:
        print(i)

91

In [57]:
lista1 = [1,2,6,10]
lista2 = [1,2,5,8,9]

In [58]:
lista1 = (1,2,6,10)
lista2 = (1,2,5,8,9)

not

In [59]:
for i in lista1:
    if i not in lista2:
        print(i)

6
10

In [60]:
'String'.startswith('S')

True

In [61]:
'Big Data'.startswith('B')

True

In [62]:
'Big Data'.startswith('D')

False

Múltiplas Condições

In [63]:
nome = 'Enzo'

if nome.startswith('A'):
    print('o nome começa com {}'.format(nome[0]))
    print('Estou aqui')
elif nome.startswith('E'):
    print('o nome começa com {}'.format(nome[0]))
elif nome.startswith('I'):
    print('o nome começa com {}'.format(nome[0]))
elif nome.startswith('O'):
    print('o nome começa com {}'.format(nome[0]))
elif nome.startswith('U'):
    print('o nome começa com {}'.format(nome[0]))
else:
    print('o nome não começa com nenhuma vogal')
print('Saí do if')

o nome começa com E
Saí do if

## List Comprehension

Uma list comprehension é uma maneira concisa de construir uma lista preenchida. Um uso comum é construir uma nova lista onde cada elemento é o resultado de alguma expressão aplicada a cada membro de outra sequência ou iterável, ou para construir uma subsequência cujos elementos satisfazem uma certa condição.

**É mais rápido porque não é necessário carregar a função append a cada iteração**

Ela irá seguir um modelo:  lista = **["expressão" for "elemento" in "sequência" if "condição"]**.

Vejamos o código abaixo:

In [7]:
cubos = []
for elementos in range(10):
    cubos.append(elementos**3)

In [2]:
print(cubos)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Podemos reescrevê-lo de forma mais concisa utilizando a list comprehension:

In [3]:
cubos2 = [elementos**3 for elementos in range(10)]

In [4]:
print(cubos2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

A seguir temos mais um exemplo da conversão para a list comprehension:

In [8]:
t0 = time.time()
lista = []
for x in range(1001):
    if x%5==0 or x%3==0:
        lista.append(x**2)
print(sum(lista))
print(time.time() - t0)

156390386
0.0013773441314697266

In [9]:
t0 = time.time()
lc2 = [x**2 for x in range(1001) if x%5==0 or x%3==0]
sum(lc2)
print(time.time() - t0)

0.0009145736694335938

In [10]:
type(lc2)

list

Outros exemplos:

In [11]:
sequencia = range(11)
sequencia

range(0, 11)

In [12]:
list(sequencia)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
[elemento**2 for elemento in sequencia if elemento%2==0]

[0, 4, 16, 36, 64, 100]

In [14]:
[x+y for x,y in [(9,4),(8,6),(2,9)]]

[13, 14, 11]

In [25]:
t0 = time.time()
print([3+2 for numero in range(4)])
print(time.time() - t0)

[5, 5, 5, 5]
0.0004055500030517578

In [28]:
t0 = time.time()
print(4 * [5])
print(time.time() - t0)

[5, 5, 5, 5]
0.00036072731018066406

In [29]:
minha_lista = [x + y for x,y in [(2,3),(4,5),(1,7)]]
minha_lista

[5, 9, 8]

In [31]:
lista = [1, "4", 9, "a", 0, 4]
quadrado_inteiros = [i**2 for i in lista if type(i) == int]
quadrado_inteiros

[1, 81, 0, 16]

##### Podemos fazer  uma list comprehension com múltiplos loops:

Veja o código a seguir:

In [32]:
pontos = []
for x in [1,2,3]:
    for y in [3,4,5]:
        if x != y:
            pontos.append((x,y))
print(pontos)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

Podemos reescrevê-lo dessa forma:

In [33]:
pontos = [(x,y) for x in [1,2,3] for y in [3,4,5] if x != y] # os loops serão postos, sem separação (somente um espaço), na mesma sequência do código original.
print(pontos)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]